<a href="https://colab.research.google.com/github/rejinadel/Pandas/blob/main/df.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df.latitude

0        34.19
1        34.40
2        33.69
3        33.64
4        33.57
         ...
16995    40.58
16996    40.69
16997    41.84
16998    41.80
16999    40.54
Name: latitude, Length: 17000, dtype: float64

In [4]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df['latitude']

0        34.19
1        34.40
2        33.69
3        33.64
4        33.57
         ...
16995    40.58
16996    40.69
16997    41.84
16998    41.80
16999    40.54
Name: latitude, Length: 17000, dtype: float64

In [6]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df[["longitude","latitude"]]

       longitude  latitude
0        -114.31     34.19
1        -114.47     34.40
2        -114.56     33.69
3        -114.57     33.64
4        -114.57     33.57
...          ...       ...
16995    -124.26     40.58
16996    -124.27     40.69
16997    -124.30     41.84
16998    -124.30     41.80
16999    -124.35     40.54

[17000 rows x 2 columns]

In [8]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df.households == 472.0

0         True
1        False
2        False
3        False
4        False
         ...
16995    False
16996    False
16997    False
16998    False
16999    False
Name: households, Length: 17000, dtype: bool

In [9]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df[df.households == 472.0]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
385,-116.93,32.81,18.0,2447.0,466.0,1573.0,472.0,2.6429,125400.0
1095,-117.11,32.70,37.0,2045.0,502.0,1920.0,472.0,1.8125,83300.0
1304,-117.15,32.76,37.0,1921.0,502.0,811.0,472.0,2.7500,175000.0
1410,-117.18,32.84,30.0,2290.0,523.0,1272.0,472.0,3.5606,165100.0
1597,-117.23,34.14,16.0,2577.0,521.0,956.0,472.0,2.5625,129400.0
1601,-117.23,34.11,33.0,2170.0,500.0,1425.0,472.0,2.0133,78300.0
2816,-117.72,34.05,31.0,2220.0,526.0,1662.0,472.0,2.7321,104300.0
2916,-117.76,34.06,33.0,1831.0,486.0,1625.0,472.0,1.9937,103600.0
2991,-117.79,34.45,18.0,2986.0,597.0,1355.0,472.0,3.2765,165000.0
4038,-117.97,33.85,30.0,2513.0,476.0,1611.0,472.0,4.0061,182900.0
4139,-117.98,33.68,14.0,3396.0,477.0,1542.0,472.0,7.3982,369100.0
4674,-118.07,33.86,31.0,2943.0,518.0,1703.0,472.0,3.7091,225900.0
5086,-118.12,33.94,31.0,2210.0,519.0,1047.0,472.0,3.3292,271300.0
6591,-118.28,34.03,25.0,1407.0,550.0,1193.0,472.0,1.2989,225000.0
6715,-118.29,34.01,30.0,1385.0,518.0,1730.0,472.0,1.0539,142500.0
7925,-118.40,33.87,45.0,2093.0,497.0,842.0,472.0,6.3231,500001.0
7939,-118.41,34.28,32.0,2574.0,531.0,2609.0,472.0,3.7566,146700.0
8562,-118.51,34.22,36.0,2794.0,523.0,1334.0,472.0,4.3462,222100.0
8566,-118.51,34.20,33.0,2327.0,479.0,1166.0,472.0,4.2344,262500.0
10745,-120.65,35.29,29.0,1785.0,481.0,1344.0,472.0,1.4492,222900.0
10758,-120.66,35.29,23.0,1932.0,487.0,1380.0,472.0,1.9647,253600.0
11488,-121.25,37.96,26.0,2205.0,478.0,1730.0,472.0,2.4866,68300.0
11788,-121.32,38.00,21.0,1795.0,482.0,1114.0,472.0,2.0091,101500.0
12359,-121.53,38.56,39.0,2438.0,483.0,1103.0,472.0,2.9375,86600.0
13827,-122.02,38.00,28.0,2965.0,533.0,1591.0,472.0,4.6375,178200.0
14377,-122.11,37.40,16.0,1994.0,489.0,1173.0,472.0,4.1875,266400.0
14996,-122.24,37.76,52.0,2504.0,516.0,979.0,472.0,3.4762,244000.0
15950,-122.43,37.74,52.0,2229.0,498.0,1079.0,472.0,5.0196,324300.0
16066,-122.45,37.77,52.0,2296.0,509.0,1039.0,472.0,4.1417,500000.0
16493,-122.63,38.23,45.0,2264.0,504.0,1076.0,472.0,3.0139,194100.0

In [10]:
import pandas as pd
df = pd.read_csv('/content/sample_data/california_housing_train.csv')
df.households = 'household'
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,household,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,household,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,household,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,household,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,household,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,household,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,household,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,household,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,household,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,household,3.0147,94600.0