<a href="https://colab.research.google.com/github/rejinadel/Pandas/blob/main/index_based_selection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df= pd.read_csv('/content/sample_data/california_housing_test.csv')
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [6]:
import pandas as pd
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df.iloc[2,5]

1484.0

In [9]:
import pandas as pd
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df.iloc[1:5,2]

1    43.0
2    27.0
3    28.0
4    19.0
Name: housing_median_age, dtype: float64

In [10]:
import pandas as pd
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df.iloc[[1,2,3],2]

1    43.0
2    27.0
3    28.0
Name: housing_median_age, dtype: float64

In [12]:
import pandas as pd
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df.iloc[-5:,0:2]

      longitude  latitude
2995    -119.86     34.42
2996    -118.14     34.06
2997    -119.70     36.30
2998    -117.12     34.10
2999    -119.63     34.42

Label_based_selection

In [11]:
import pandas as pd
df = pd.read_csv("/content/sample_data/california_housing_test.csv")
df.loc[0:5,['longitude','latitude','housing_median_age']]

   longitude  latitude  housing_median_age
0    -122.05     37.37                27.0
1    -118.30     34.26                43.0
2    -117.81     33.78                27.0
3    -118.36     33.82                28.0
4    -119.67     36.33                19.0
5    -119.56     36.51                37.0